<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Technologies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <ion-card-header> 
      <h1>Nos <strong>Technologies</strong></h1>
    </ion-card-header>
    <img height="65px" width="65px" src="assets/technologiePic/backEnd/java.png" alt="java">
    <img height="65px" width="65px" src="assets/technologiePic/backEnd/java_ee.png" alt="javaEE">
    <img height="65px" width="100px" src="assets/technologiePic/backEnd/net_mvc.jpg" alt="netMvc">
    <img height="65px" width="100px" src="assets/technologiePic/backEnd/asp3.jpg" alt="asp">
    <img height="65px" width="65px" src="assets/technologiePic/backEnd/cpp.png" alt="cpp">
    <img height="65px" width="65px" src="assets/technologiePic/backEnd/csharp.png" alt="csharp">
    <img height="65px" width="65px" src="assets/technologiePic/backEnd/php.jpg" alt="php">
  </ion-card-content>

  <ion-card-content>
    <img height="65px" width="120px" src="assets/technologiePic/frontEnd/struts.png" alt="struts">
    <img height="65px" width="65px" src="assets/technologiePic/frontEnd/ajax.png" alt="ajax">
    <img height="65px" width="65px" src="assets/technologiePic/frontEnd/html.png" alt="html">
    <img height="65px" width="65px" src="assets/technologiePic/frontEnd/css.png" alt="css">
    <img height="65px" width="65px" src="assets/technologiePic/frontEnd/cshtml.png" alt="cshtml">
    <img height="65px" width="65px" src="assets/technologiePic/frontEnd/jquery.png" alt="jquery">
    <img height="65px" width="65px" src="assets/technologiePic/frontEnd/angular.png" alt="angular">
    <img height="65px" width="65px" src="assets/technologiePic/frontEnd/reactjs.png" alt="reactjs">
  </ion-card-content>

  <ion-card-content>
    <img height="65px" width="150px" src="assets/technologiePic/data/pentaho.png" alt="pentaho">
    <img height="65px" width="150px" src="assets/technologiePic/data/SSIS.png" alt="SSIS">
  </ion-card-content>

  <ion-card-content>
    <img height="65px" width="150px" src="assets/technologiePic/managementProject/redmine.png" alt="redmine">
    <img height="65px" width="130px" src="assets/technologiePic/managementProject/jira.jpg" alt="jira">
    <img height="65px" width="100px" src="assets/technologiePic/managementProject/trello.png" alt="trello">
  </ion-card-content>
  
  <ion-card-content>
    <img height="65px" width="120px" src="assets/technologiePic/db/oracle.png" alt="oracle">
    <img height="65px" width="65px" src="assets/technologiePic/db/Postgresql.png" alt="Postgresql">
    <img height="65px" width="100px" src="assets/technologiePic/db/sql_server.png" alt="sql_server">
    <img height="65px" width="65px" src="assets/technologiePic/db/mysql.png" alt="mysql">
    <img height="65px" width="100px" src="assets/technologiePic/db/Informix.png" alt="Informix">
    <img height="65px" width="120px" src="assets/technologiePic/db/mongoDB.png" alt="mongoDB">
    <img height="65px" width="120px" src="assets/technologiePic/db/elk.png" alt="elk">
  </ion-card-content>

  <ion-card-content>
    <img height="65px" width="65px" src="assets/technologiePic/design/hibernate.png" alt="hibernate">
    <img height="65px" width="150px" src="assets/technologiePic/design/spring.png" alt="spring">
    <img height="65px" width="150px" src="assets/technologiePic/design/jasperreports.png" alt="jasperreports">
  </ion-card-content>

  <ion-card-content>
    <img height="65px" width="65px" src="assets/technologiePic/server/tomcat.png" alt="tomcat">
    <img height="65px" width="65px" src="assets/technologiePic/server/websphere.png" alt="websphere">
    <img height="65px" width="100px" src="assets/technologiePic/server/wildfly.png" alt="wildfly">
    <img height="65px" width="120px" src="assets/technologiePic/server/iis.png" alt="iis">
  </ion-card-content>

  <ion-card-content>
    <img height="65px" width="120px" src="assets/technologiePic/deploying/jmeter.png" alt="jmeter">
    <img height="65px" width="120px" src="assets/technologiePic/deploying/gatling.png" alt="gatling">
    <img height="65px" width="120px" src="assets/technologiePic/deploying/selenium.jpg" alt="selenium">
    <img height="65px" width="120px" src="assets/technologiePic/deploying/sonar.jpg" alt="sonar">
    <img height="65px" width="120px" src="assets/technologiePic/deploying/jenkins.png" alt="jenkins">
  </ion-card-content>
 
</ion-card>
</ion-content>
