<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meteo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <form [formGroup]="villeForm" (ngSubmit)="seacheWeather()">
      
      <ion-item>
        <ion-label>VILLE :</ion-label>
        <ion-input type="text" placeholder="Enter une ville" formControlName="city"> </ion-input>
        <ion-button type="submit" [disabled]="villeForm.invalid" >Afficher</ion-button>
      </ion-item>
    </form>
    
  </ion-card-content>
  <ion-card *ngIf="isValid">
    <ion-card-content >
      <ion-item>
        <ion-label> <strong>City: {{dataMeteo.city.name}}</strong></ion-label>,
        <ion-label> <strong>Country: {{dataMeteo.city.country}}</strong></ion-label>
      </ion-item>
      <ion-item>
        <ion-label> <strong>Long: {{dataMeteo.city.coord.lon}}</strong></ion-label>,
        <ion-label> <strong>Lat: {{dataMeteo.city.coord.lat}}</strong></ion-label>
      </ion-item>
      <ion-item>
        <ion-label> <strong>Population: {{dataMeteo.city.population|number: '0.0'}}</strong></ion-label>,
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="isValid">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let meteo of dataMeteo.list">
          <ion-item *ngIf="meteo.weather[0].main==='Clear'">
            <ion-icon size="large" name="sunny-outline"></ion-icon>
            <ion-list>
              <ion-item>{{meteo.dt*1000| date: 'dd/MM/yyyy HH-mm '}}</ion-item>
              <ion-item>Min:<strong>{{meteo.main.temp_min-271.15| number: '0.0'}}</strong>, 
                Max :<strong>{{meteo.main.temp_max-271.15| number: '0.0'}}</strong></ion-item>
              <ion-item>Pressure:<strong>{{meteo.main.pressure| number: '0.0'}}</strong></ion-item>
              <ion-item>Humidity:<strong>{{meteo.main.humidity| number: '0.0'}}</strong></ion-item>
            </ion-list>
          </ion-item>
          <ion-item *ngIf="meteo.weather[0].main==='Clouds'">
            <ion-icon size="large" name="cloudy-outline"></ion-icon>
            <ion-list>
              <ion-item>{{meteo.dt*1000| date: 'dd/MM/yyyy HH-mm'}}</ion-item>
              <ion-item>Min:<strong>{{meteo.main.temp_min-271.15| number: '0.0'}}</strong>, 
                Max :<strong>{{meteo.main.temp_max-271.15| number: '0.0'}}</strong></ion-item>
              <ion-item>Pressure:<strong>{{meteo.main.pressure| number: '0.0'}}</strong></ion-item>
              <ion-item>Humidity:<strong>{{meteo.main.humidity| number: '0.0'}}</strong></ion-item>
            </ion-list>
          </ion-item>
          <ion-item *ngIf="meteo.weather[0].main==='Rain'">
            <ion-icon size="large" name="rainy-outline"></ion-icon>
            <ion-list>
              <ion-item>{{meteo.dt*1000| date: 'dd/MM/yyyy HH-mm'}}</ion-item>
              <ion-item>Min:<strong>{{meteo.main.temp_min-271.15| number: '0.0'}}</strong>, 
                Max :<strong>{{meteo.main.temp_max-271.15| number: '0.0'}}</strong></ion-item>
              <ion-item>Pressure:<strong>{{meteo.main.pressure| number: '0.0'}}</strong></ion-item>
              <ion-item>Humidity:<strong>{{meteo.main.humidity| number: '0.0'}}</strong></ion-item>
            </ion-list>
          </ion-item>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-card>
</ion-content>
