<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title><img height="100px" width="100px" src="/assets/pic/isiCodLogo.png"></ion-title>
    </ion-toolbar>
   
      
    
  </ion-header>
  
  
  <ion-content>
  <ion-menu-toggle *ngFor="let menu of menus">
    <ion-item (click)="onMenuItem(menu)">
      <ion-icon [name]="menu.icon" slot="start"> </ion-icon>
      <ion-title>{{menu.title}} </ion-title>
    </ion-item>
  </ion-menu-toggle>
  </ion-content>
</ion-menu>
  <ion-router-outlet id="content"> </ion-router-outlet>
  