<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Partenaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <ion-card-header >
      <img src="assets/partenaire/darktrace.png">
    </ion-card-header>
    <p>Darktrace (DARK.L), a global leader in cyber security AI, delivers world-class technology that protects over 5,000 customers worldwide from advanced threats,
       including ransomware and cloud and SaaS attacks. The company’s fundamentally different approach applies Self-Learning AI to enable machines to understand  
       the business in order to autonomously defend it. Headquartered in Cambridge, UK, the company has 1,500 employees and over 30 offices worldwide. Darktrace 
       was named one of TIME Magazine’s ‘Most Influential Companies’ for 2021.</p>
      </ion-card-content>
    <ion-card-content>
        <h1><strong>“Darktrace is a gamechanger. It allows us to remain resilient in a rapidly changing threat landscape.”</strong></h1>
        <br>
        <p><strong>CEO and Founder, Raspberry Pi</strong></p>
        <br>
        <h2>The Enterprise Immune System</h2>
        <br>
        <p>The Enterprise Immune System detects novel attacks and insider threats at an early stage — without relying on rules, signatures, or prior assumptions.</p>
        <br>
        <p>Modeled on the human immune system, the technology learns and understands ‘self’ for everyone and everything in the business, and can spot the subtle signals 
          of an advanced attack, whether that emerges in the network, cloud environments, SaaS applications, or endpoint devices.</p>
        <br>
        <h2>The Industrial Immune System</h2>
        <br>
        <p>The Industrial Immune System is a fundamental AI technology for OT cyber defense. It works by passively learning what ‘normal’ looks like across OT, 
          IT and industrial IoT, allowing it to detect even the subtlest signals of emerging cyber-threats in real time, in both OT environments, such as SCADA systems, and IT networks.</p>
        <br>
        <h2>Darktrace Antigena</h2>
        <br>
        <p>Powered by Self-Learning AI, Darktrace Antigena is an Autonomous Response technology that calculate the best action to take, in the shortest period of time, to effectively 
          respond to in-progress cyber-threats, limiting damage and stopping their spread in real time.</p>
        <br>
        <p>Antigena can stop novel and advanced phishing attacks from reaching the inbox, prevent account takeovers in cloud applications, and stop ransomware in its earliest 
          stages. Its response is targeted and proportionate, containing the threat in seconds, without disrupting the business.</p>
        <br>
        <h2>Cyber AI Analyst</h2>
        <br>
        <p>Over three years, Darktrace developed AI that observed how expert security analysts interacted with the output of our Self-Learning AI and came to conclusions about threat scenarios and incidents.</p>
        <br>
        <p>The result is Cyber AI Analyst, Darktrace’s AI investigation technology, which saves security teams time by automatically and continuously triaging,
           interpreting, and reporting on the full range of security events. It prioritizes the most relevant incidents and generates natural-language reports ready for review and action.</p>
      
      </ion-card-content>
      <ion-card-content>
        <ion-slides pager="true">
          <ion-slide >
            <img src="assets/partenaire/maptrace.jpg">
          </ion-slide>
          <ion-slide >
            <img class="imgs" src="assets/partenaire/spacetrace.jpg">
          </ion-slide>
        </ion-slides>
        <br>
        <h1> Key benefits</h1>
        <ion-list>
          <ion-item>Learns continuously ‘on the job’ and adapts in light of new evidence </ion-item>
          <ion-item>Detects and responds to novel attacks and insiders before they do damage</ion-item>
          <ion-item>Complete visibility across hybrid, multi-cloud, and IoT infrastructure </ion-item>
          <ion-item>Installs in under an hour, requiring no manual tuning or configuration</ion-item>
        </ion-list>

      </ion-card-content>

</ion-card>
</ion-content>
