<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>À Propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content> 
    <ion-card-header>
      <h1> À Propos de <strong>nous</strong></h1>
    </ion-card-header>
    <p>ISICOD est née pour contribuer à favoriser les développements:</p>
    <ion-card-header>
      <h1> Notre <strong>Mission</strong></h1>
    </ion-card-header>
    <p>Comprendre les besoins de nos clients et leur présenter les opportunités que les nouvelles 
      technologies de l’information et des télécommunications rendent possibles dans l’environnement
       complexe et dynamique des affaires.</p>
  
 <ul>
   <li>des entreprises marocaines, privées et publiques, en accompagnant leur transformation afin qu’elles soient performantes dans un monde économique ouvert et concurrentiel,</li>
   <li>des partenaires étrangers dans le cadre de leur redéploiement, leur délocalisation et leur recherche d’efficacité et de compétitivité.</li>
 </ul>

<ion-card-header>
  <h1><strong>Nos</strong> Domaines d'activités</h1>
</ion-card-header>
<ion-card-header>
  <ion-item >
    <ion-icon name="newspaper-outline"></ion-icon>
    <ion-text><strong>TECHNOLOGIES DE L'INFORMATION</strong></ion-text>
    </ion-item>
  </ion-card-header>
    <p>L’offre d’ISICOD couvre plusieurs services dans les domaines des technologies de l'information et de communication :</p>
    <ul>
      <li>Conseil ;</li>
      <li>Formation ;</li>
      <li>Développement de sites Internet ;</li>
      <li>Réalisation de solutions Intranet ;</li>
      <li>Développement de logiciels de gestion.</li>
    </ul>
    <ion-card-header>
      <ion-item >
        <ion-icon name="code-slash-outline"></ion-icon>
        <ion-text><strong>DEVELOPPEMENT DE LOGICIELS</strong></ion-text>
        </ion-item>
      </ion-card-header>
      <p>L’expérience de nos ingénieurs et leur connaissance de l’environnement technologique permettent à ISICOD de développer et/ou accompagner le client dans la conception et le développement d’applications informatiques spécifiques en utilisant les outils et les moyens techniques adéquats afin d'assurer une grande productivité et une bonne ergonomie.</p>
      <ion-card-header>
        <ion-item >
          <ion-icon name="cog-outline"></ion-icon>
          <ion-text><strong>INTEGRATION DE SOLUTIONS</strong></ion-text>
          </ion-item>
        </ion-card-header>
        <p>fournit à ses clients des solutions complètes et adaptées à leurs besoins et leur stratégie. L'expérience de son équipe multidisciplinaire lui permet de tenir compte à la fois de l'environnement technique et économique dans lesquels s'intègrent les solutions proposées.</p>
        <ion-card-header>
          <ion-item >
            <ion-icon name="desktop-outline"></ion-icon>
            <ion-text><strong>FORMATION</strong></ion-text>
            </ion-item>
          </ion-card-header>
          <p>ISICOD fait de la formation un des principaux axes de son activité. L'expérience pédagogique et la qualité relationnelle de ses consultants lui permettent de proposer toute une gamme de services.</p>
          <ion-card-header>
            <ion-item >
              <ion-icon name="star-outline"></ion-icon>
              <ion-text><strong>ETUDES & CONSEIL</strong></ion-text>
              </ion-item>
            </ion-card-header>
            <p>L’étude et l’analyse des besoins permettent aux consultants et partenaires de ISICOD de définir les moyens à mettre en oeuvre pour mener à bien un projet. Elles permettent de prendre en compte la spécificité de l’organisation du client et sa stratégie à moyen et long terme.</p>  
            <ion-card-header>
              <ion-item >
                <ion-icon name="star-outline"></ion-icon>
                <ion-text><strong>MANAGEMENT & ORGANISATION</strong></ion-text>
                </ion-item>
              </ion-card-header>
              <p>ISICOD utilise pour cela une méthodologie lui permettant de tenir compte des organisations en tant que système complexe, dynamique et évolutif. Elle étudie aussi l'impact des technologies de l'information, notamment Internet, sur la performance de l'entreprise.</p> 
            </ion-card-content>         
</ion-card>
<ion-card>
  <!-- <div class="content">
   
      <div class="start">
        ISICOD est
      </div>
      <div class="animation"></div>
    
     <div id="text"> </div> expert en domaine des Nouvelles Technologie d'Information et de Communication.
    </div> -->
  </ion-card>
</ion-content>
